body {
    font-family: Arial, sans-serif;
    
     background-image: url("../img/fleur.jpg");
     background-color: greenyellow;
    
    
}





.home-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:100%;
    overflow-y: scroll;
}
  .home-container {
           transition: margin-left .5s;
           padding: 16px;
       }
.search-bar {
	display:flex;
	flex-direction:row;
    width: 100%;
    background-color:white;
    color: black;
    
    justify-content:space-between;
}
.search-bar:hover{
	background-color:skyblue;
	font-size: 1000;
	opacity: 1,5;
}
.menu-button-div{
	display:flex;
	flex-direction:row;
	margin-right: 20px;
}
    .menu-button, .theme-button {
            display: inline-block;
            cursor: pointer;
            margin: 10px;
        }
        

.search-bar input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-name {
    margin-top: 10px;
}

.vertical-bar {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 20px;
    
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    overflow-x: auto;
    justify-content:space-between;
    width:100%;
    
}

.categories a {
	font-size: 1000;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
	
    padding: 10px 0;
    text-decoration: none;
    color: #000;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
      display: inline-block; /* Pour permettre le padding et la mise en forme */
    padding: 10px 20px; /* Espace autour du texte */
    background-color: white; /* Couleur de fond */
    color: black; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
 
    border: 2px solid #4CAF50; /* Bordure */
    border-radius: 25px; /* Coins arrondis pour un effet d'encerclement */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition douce pour les changements de style */
}
    

.categories a:hover{
	color: black; /* Couleur de texte rose */
    font-size: 18px; /* Augmentation de la taille du texte */
    
	
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.description {
    margin: 10px 0;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}

.card-actions button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.offers-section {
    margin-top: 20px;
    display:flex;
    flex-direction:row;
    
    
}
.profilf{
	font-size: 200%;
	color: white;
}

.separator {
    width: 100%;
    height: 1px;
    background-color:white;
    margin-bottom: 20px;
}

.offers-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.offer-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

.offer-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.offer-description {
    margin: 10px 0;
    color: white;
}

.offer-actions {
    display: flex;
    justify-content: space-between;
   
}

.offer-actions button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
}
.profile{
	color: white;
	font-size: 300%;
}

